[net]
mtu=1300
download_bw=0
upload_bw=0
force_ice_disablement=0
enable_nat_helper=1

[sip]
guess_hostname=1
register_only_when_network_is_up=1
auto_net_state_mon=1
auto_answer_replacing_calls=1
media_encryption_mandatory=0
ping_with_options=0
vfu_with_info=0
use_cpim=1
ipv6_migration_done=1
use_ipv6=0

[rtp]
audio_rtp_port=7076
video_rtp_port=9078
audio_jitt_comp=60
video_jitt_comp=60
nortp_timeout=30
disable_upnp=1
rtcp_fb_implicit_rtcp_fb=0

[video]
displaytype=MSAndroidTextureDisplay


[sound]
dtmf_player_amp=0.1


[audio_codec_0]
mime=PCMU
rate=8000
enabled=0

[audio_codec_1]
mime=PCMA
rate=8000
enabled=0

[audio_codec_2]
mime=opus
rate=48000
enabled=1

[audio_codec_3]
mime=G722
rate=8000
enabled=0

[audio_codec_4]
mime=G729
rate=8000
enabled=0

[audio_codec_5]
mime=speex
rate=8000
enabled=0

[audio_codec_6]
mime=speex
rate=16000
enabled=0


[video_codec_0]
mime=H264
rate=90000
enabled=1

[video_codec_1]
mime=VP8
rate=90000
enabled=1

[video_codec_2]
mime=H265
rate=90000
enabled=0


[misc]
enable_basic_to_client_group_chat_room_migration=0
enable_simple_group_chat_message_state=0
aggregate_imdn=1
notify_each_friend_individually_when_presence_received=0

[app]
activation_code_length=4
prefer_basic_chat_room=1

[assistant]
xmlrpc_url=https://subscribe.linphone.org:444/wizard.php

[lime]
lime_update_threshold=-1
